[Unit]
Description=Home driver service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=nobody
ExecStart=/usr/bin/home.o

[Install]
WantedBy=multi-user.target
